@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$tandem-blue: #22C1D7;
$tandem-dark-blue: #2C37D0;
$tandem-pink: #ED5481;
$light-grey: #cecece7a;
$dark-grey: #616161;
$darker-grey: rgb(51,51,51);
$background-color: #F6F3F0;
$row-height: 100px;
$shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
$font-size-xs: 12px;
$font-size-sm: 15px;
$font-size-md: 20px;
$font-size-lg: 25px;
$horizontal-padding: 17px;

// generic rules 

body {
    margin: 0px;
    font-weight: 300;
}

* {
    text-decoration: none;
    font-family: Roboto;
    font-size: $font-size-sm;
    -webkit-user-select: none; /* Safari */        
    user-select: none; /* Standard */
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.5px;
    p {margin: 0;}
}

// root 
#root {
    overflow-x: hidden;
    height: 100vh;
    background-color: $background-color;
}

// black opaque overlay
.overlay-black {
    background-color: black;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: 1;
}

.blue-background {background-color: $tandem-dark-blue;}
.pink-background {background-color: $tandem-pink;}
.bold-pink {
    color: $tandem-pink;
    font-weight: bold;
}
.bold-blue {
    color: $tandem-blue;
    font-weight: bold;
}

.text-lg {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.text-center {
    text-align: center;
    width: 100%;
}

.bold {
    font-weight: bolder;
}

// components/ActionButton.js
.action-button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.action-button-inner {
    color: white;
    margin: auto;
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 7px 25px;
    width: 100%;
    font-size: $font-size-md
}

.action-button-inner-text {
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.close-button {
    margin-top: 12px;
    text-align: center;
    text-decoration: underline;
}

// components/Slider.js
.slider {
    display: flex;
    border-bottom: $light-grey 1px solid;
    z-index: 1;
    position: relative;
    background-color: $background-color;
}

.slider-title-container {
    padding: 18px 0 12px 0;
    width: 50%;
    text-align: center;
}
.slider-title-text {
    font-size: $font-size-xs;
}

.slider-title-container-blue {
    color: $tandem-dark-blue;
    border-bottom: 2px $tandem-dark-blue solid;
    
    p {font-weight: bold;}
}

// components/Row.js
.row-container {
    width: fit-content;
    margin: auto;
    min-height: $row-height;
    border-bottom: 1px $light-grey solid;
    display: flex;
    padding: 15px $horizontal-padding;
}

.row-image-container {
    width: $row-height;
    display: flex;   
}

.row-image {
    max-height: $row-height - 5px;
    border-radius: 8px;
    margin: auto;
}

.row-text-container {
    padding: 0px 10px;
    width: calc(100% - #{$row-height} - 17px);
    max-height: $row-height - 7.5px;
    overflow: hidden;
}

.row-title {
    font-weight: bolder;
    padding-bottom: 5px;
}

// components/Popup.js
.popup-container {
    z-index: 2;
    position: fixed;
    background-color: white;
    padding: 15px 5vw;
    width: 80vw;
    left: 10vw;
    top: 50px;
    border-radius: 15px;
}

.popup-input-container {
    width: 100%;
    padding: 15px 0px
}

.popup-description-holder {
    p {padding-bottom: 10px;}
}

input {
    font-weight: lighter;
    width: 100%;
    border: 0;
    border-bottom: 2px darkgrey solid;
    outline-width: 0;
}

.popup-title {
    text-align: left;
    font-weight: bolder;
    font-size: $font-size-md;
    padding: 0 0 15px 0;
}

// components/InfoCard.js
.infocard-container {
    z-index: 3;
    position: fixed;
    top: calc(100vh - 450px);
    background-color: white;
    height: 450px;
    border-radius: 15px 15px 0 0;
    width: 100vw;
}

.infocard-title {
    font-weight: bolder;
    text-align: left;
    padding: 25px 20px 15px 20px;
    font-size: $font-size-md
}

.infocard-main-content {
    padding: 0 20px;
}

.button-fixed-bottom {
    position: fixed; 
    bottom: 20px;
    width: 90%;
    left: 5%;
}

.infocard-close-x {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: lightgray;
    border-radius: 100%;
    width: 25px;
    text-align: center;
    line-height: 1.1;
    height: 25px;
}

// HeaderTitle.js
.header-title-inner, .header-title-container, .back-arrow {
    display: flex;
}

.back-arrow {
    padding: 7.5px 15px;
    filter: brightness(0) invert(1);
}

.back-arrow-img {
    height: 20px;
}

.header-title {
    padding: 8px 0 0 0;
    font-size: 15px;
    // font-weight: bolder;
    color: white;
}

.circular-button-outer {
    background-color: $tandem-blue;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    box-shadow: $shadow;
    position: fixed;
    display: flex;
    right: 15px;
    bottom: 15px;
}

.circular-button-inner {
    color: white;
    margin: auto;
    display: flex;
    img {
        height: 40px;
        width: 40px;
        margin: auto;
    }
}

// styles that overwrite existing styles 
.round-image {border-radius: 100%;}

.new-icon {
    background-color: $tandem-dark-blue;
    color: white;
    width: 70px;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 10px;
    font-weight: bold;
    border-radius: 15px;
    font-size: $font-size-sm;
}

.corner-tag {
    background-color: $tandem-dark-blue;
    color: white;
    height: 175px;
    width: 175px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    padding: 0 0 8px 0;
    text-align: center;
    position: absolute;
    transform: rotate(45deg);
    top: -145px;
    right: -103px;
    z-index: 0;
    font-weight: bold;
    overflow-x: hidden;
}

.just-price, .main-price {
    font-weight: 400;
    letter-spacing: 1px;
}

.just-price {
    font-size: 8px;
    text-decoration: line-through;
    font-weight: normal;
}

.main-price {
    font-size: $font-size-md;
}

.level-box {
    width: 44vw;
    height: 125px;
    text-align: left;
    padding: 12px;
    color: white;
    border-radius: 12px;
    background-size: cover;
    margin-bottom: 10px;
    
}

.level-box-level {
    font-weight: bold;
    font-size: $font-size-md;
    margin-bottom: 10px;
    margin-top: 5px;
}

.level-box-title-text {
    letter-spacing: 1.5px;
    font-size: 17px;
}

.level-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.bolder {
    font-weight: bolder;
}

.p-relative {
    position: relative;
}

.main-content-holder {
    margin: 0 15px 0 15px;
}

.grey-line {
    border-top: 1px $light-grey solid;
    margin: 7px 0 10px 0;
}

.star-price-outer {
    text-align: center;
    color: #ffffff;
    margin: 15px auto 30px auto;
    height: 100px;
    display: flex;
    color: white;
    height: 125px;
    width: 125px;
    background-image: url('imgs/blue-star.png');
    background-size: contain;
    background-repeat: none;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.star-price-inner {
    // margin: auto;
}

.text-md {font-size: $font-size-md}
.text-sm {font-size: 17px}

.now-in {
    background-color: $tandem-dark-blue;
    color: white;
    padding: 5px 0;
    border-radius: 10px;
    margin-top: 10px;
}

.now-in-text {
    font-weight: bold;
}



.payment-container {
    position: absolute;
    background-color: #202125;
    color: white;
    z-index: 2;
    bottom: 0;    
}

#play-logo {
    height: 16px;
}

#tandem-logo {
    height: 45px;
}

.ws-none {
    white-space: nowrap;
    overflow-x: hidden;
}

.small-grey-text {
    color: #9EA4AB;
    font-size: $font-size-xs
}

.green-button {
    background-color: #00A173;
    border-radius: 5px;
}

.dark-grey {
    color: #211C22;
    font-weight: bolder;
    font-size: $font-size-sm;
}

.test-breakdown {
    box-shadow: $shadow;
    border-radius: 10px;
    margin: 15px;
    margin-top: 40px;
    padding: 15px;
    background-color: white;
}

#pie {
    height: 60px; 
}

.small-circle {
    height: 9px;
    width: 9px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 15px;
}

.blue-1 {background-color: #2C37D0}
.blue-2 {background-color: #007AFF}
.blue-3 {background-color: #2CC1D7}

.align-vertical {align-items: center;}

.space-between {
    justify-content: space-between;
    margin-bottom: 12px;
}

.text-xxs {
    font-size: 12px;
}

#discount {
    height: 35px;
}

.white-star {
    color: $tandem-dark-blue;
    height: 125px;
    width: 125px;
    background-image: url('imgs/white-star.png');
    position: absolute;
    display: flex;
    background-size: contain;
    background-repeat: none;
    text-align: center;
    font-weight: bolder;
    right: 0;
    bottom: -28px;
}

.subscreen-background {
    background-size: cover;
    color: white;
}

.a2-background {background-image: url('imgs/beginner-bg.png');}
.b1-background {background-image: url('imgs/intermediate-bg.png');}
.b2-background {background-image: url('imgs/advanced-bg.png');}
.c1-background {background-image: url('imgs/fluent-bg.png');}

.dark-blue {
    color: $tandem-dark-blue
}

.a2-box {background-image: url("imgs/beginner-cert.png");}
.b1-box {background-image: url('imgs/intermediate-cert.png');}
.b2-box {background-image: url('imgs/advanced-cert.png');}
.c1-box {background-image: url('imgs/fluent-cert.png');}

.imageperk-image {height: 45px;}

.checkmark {
    height: 19px;
}

.darker-grey {
    color: $darker-grey;
}

#tandem-star {
    height: 100px;
}